
@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&family=League+Gothic&family=Lexend+Peta:wght@100;200;300;400;500;600;700;800;900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Smooch+Sans:wght@100;200;300;400;500;600;700;800;900&family=Staatliches&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: $backgroundColor;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
    
}

.nav-bar h1 {
    color: $textColor;
}

.nav-bar p {
    color: $whiteColor;
}

.todo-list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: $cardColor;
    padding: 1rem;
    color: $textColor;
    border-radius: 0.5rem;

    .form {
        position: relative;

        svg{
            position: absolute;
            top: 20%;
            left: 5%;
            cursor: pointer;
        }
    
        input {
            text-align: center;
            padding: 0.5em 4.5em;
            outline: none;
            border: none;
            border-radius: 0.3rem;
        }

    }

    .todos {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .todo {
            display: flex;
            align-items: center;
            gap: 1rem;
            color: $textColor;

            
            [type=checkbox] {
                width: 1.2rem;
                height: 1.5em;
                border-radius: 0.2rem;
                vertical-align: middle;
                -webkit-appearance: none;
                background: none;
                border: 0;
                outline: 0;
                flex-grow: 0;
                background-color: black;
                transition: background 100ms;
                cursor: pointer;
              }

              [type=checkbox]:checked {
                background-color: #000;
                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
              }

        }
    }
    
}