
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&family=League+Gothic&family=Lexend+Peta:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Smooch+Sans:wght@100;200;300;400;500;600;700;800;900&family=Staatliches&display=swap');
@import './variables';


@mixin flexColumn(){
    display: flex;
    flex-direction: column;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: $backgroundColor;
    padding: 2rem 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.App {
    @include flexColumn();
    gap: 4rem;
}

.main-part {
    @include flexColumn();
    gap: 1rem;
    text-align: center;
    align-items: center;

    .title {
        color: $titleColor;
    }

    input {
        padding: 0.3rem 6rem;
        outline: none;
        border: none;
        border-radius: 0.4rem;
    }
}


.recipe-card {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    justify-content: center;
    text-align: center;

    .card {
        position: relative;
        img {
            max-width: 20rem;
            border-radius: 1rem;
            transition: 0.5s ease;
        }

        .meal-name {
            color: $titleColor;
            font-size: 1.4rem;
            font-weight: 700;
        }

        .extra-infos p{
            gap: 4rem;
            opacity: 0.8;
            position: absolute;
            top: 5%;
            left: 5%;
            font-size: 1.2rem;
            font-weight: 650;
            transform: scale(0);
            transition: 0.5s ease;
            transform-origin: top right;

        }

    }

    .card:hover img {
        opacity: 0.4;
    }

    .card:hover .extra-infos p {
        transform: scale(1);
    }


}
